<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_NeplanService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_NeplanService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_NeplanService"
                contract="NeplanService" name="WSHttpBinding_NeplanService" />
            <endpoint address="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NeplanService"
                contract="NeplanService" name="BasicHttpBinding_NeplanService" />
        </client>
    </system.serviceModel>
</configuration>