<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_NeplanService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://demo.neplan.ch/NEPLAN360_Demo/Services/External/NeplanService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_NeplanService"
                contract="NeplanService.NeplanService" name="WSHttpBinding_NeplanService" />
        </client>
    </system.serviceModel>
</configuration>